
body {
	background-image: url("../images/pow-star.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	width: 100%;
	top: 0;
}

h1 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-weight: bold;
	width: 1180px;
    padding: 30px 0;
    margin: 0px;
    margin-left: 90px;
    margin-bottom: 0px;
    background-color: #607D8B;
    color: #CDDC39;
    text-align: center;
    margin-right: 0px;
    font-size: 30px;
}

h4 {
	float: right;
	font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    width: 200px;
    padding: 25px 0;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #E91E63;
    color: #FFEB3B;
    text-align: center;
    margin-right: 0px;
    font-size: 15px;
}

h3 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    width: 200px;
    padding: 25px 0;
    margin: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #E91E63;
    color: #FFEB3B;
    text-align: center;
    margin-right: 0px;
    font-size: 10px;
}

#connect {
	width: 1161px;
    border-style: solid;
    border-width: 2px;
    border-color: #9C27B0;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 87px;
    margin-bottom: 0px;
    background-color: #673AB7;
}

#score {
	width: 1161px;
    border-style: solid;
    border-width: 2px;
    border-color: #9C27B0;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 87px;
    margin-bottom: 0px;
    background-color: #673AB7;
}

#content {
	font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 15px;
    color: #673AB7;
    width: 1150px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    padding: 15px;
    margin-top: -10px;
    margin-left: 89px;
    background-color: #8BC34A;
}